<div class='py-3 px-7 text-lg flex justify-between'>
  <div class='flex gap-x-5 items-center'>
    <LinkTo @route='home'>Home</LinkTo>
    <LinkTo @route='dashboard'>Dashboard</LinkTo>
    <LinkTo @route='offers'>Oferty</LinkTo>
  </div>
  <div class='flex gap-x-5'>
    {{#if this.shouldDisplayButtons}}
      <div>
        <LinkTo @route='settings'>Settings</LinkTo>
        <button
          class='ml-4 bg-red-200 px-4 py-2 rounded-lg'
          type='button'
          {{on 'click' this.onLogout}}
        >Wyloguj</button>
      </div>
    {{else}}
      <LinkTo
        class='bg-blue-400 rounded-lg px-4 py-2 text-white'
        @route='login'
      >Zaloguj</LinkTo>
      <LinkTo
        class='bg-gradient-to-tr from-red-300 to-blue-400 text-white rounded-lg px-4 py-2'
        @route='register'
      >Zarejestruj</LinkTo>
    {{/if}}
  </div>
</div>